@import "./variables";

@mixin BackgroundColor($color) {
    background-color: $color;
}

@mixin displayInline() {
    display: inline; //Gör så att min meny blir vågrätt 
}

@mixin image($url) {
    
        background-image: url($url); //ändrar bakgrunden till en bild
}

//denna gör så att bilden som bakrund täcker hela så den inte blir 
@mixin backgrounSettings($repeat, $position, $size) {
        background-repeat: $repeat;
        background-position: $position;
        background-size: $size;
}

@mixin fontAndColor($font, $color){
    font-style: $font;
    color: $color;
}

@mixin justifyContentSpaceAroundAndDisplayFlex($style, $flex){
   
    justify-content: $style;
    display: $flex;
}

@mixin justifyContentCenterAndDisplayFlex($style, $flex){
    
    justify-content: $style;
    display: $flex;
}

