$redColor : rgba(219, 40, 40, 0.774);
$whiteColor : rgba(255, 255, 255, 0.836);
$blueColor : rgba(24, 24, 168, 0.712);
$rosa: rgb(246, 42, 181);

//bilder
$anfield: "stadium.jpg";
$sadioMane: "sadioMane.jpg";


$noRepeat: no-repeat;
$positionCenter: center;
$sizeCover: cover;
$flex: flex;

$fontItalic: italic;

$spaceRnd: space-around;
$center: center;
