@import "./functions";
@import "./variables";

header{
    @include BackgroundColor($redColor);
    width: 100%;
    
    
}


ul{
    list-style-type: none;
    margin-left: 75%;
    transform: translateY(-10%);
    font-size: 20px; 
}
ul a{
    @include fontAndColor($fontItalic, $whiteColor);
    padding: 1%;
}

ul  a:hover{
    @include BackgroundColor($whiteColor);
    @include fontAndColor($fontItalic, $redColor);
}
 li{
    
     @include displayInline();
}

body{
   
   background-image: url($anfield);
  
    @include backgrounSettings($noRepeat, $positionCenter, $sizeCover)

} 

.infotext{
   
   @include fontAndColor($fontItalic, $whiteColor);

    @include justifyContentCenterAndDisplayFlex($center, $flex);
    @include BackgroundColor($redColor);
   
}

.bild{
  @include justifyContentSpaceAroundAndDisplayFlex($spaceRnd, $flex)
}

.textOne{
    //@include displayFlex($flex);
    @include justifyContentSpaceAroundAndDisplayFlex($spaceRnd, $flex);
    @include fontAndColor($fontItalic, $whiteColor);
    @include BackgroundColor($redColor);
}

.secondBild{
    margin-top: 5%;
   
    @include justifyContentSpaceAroundAndDisplayFlex($spaceRnd, $flex)
    
}
.headerText{
  
    @include justifyContentCenterAndDisplayFlex($center, $flex);
    transform: translateY(-100px);
    
   
}

.logo{
    margin-right: 90%;
}