@import "./functions";
@import "./variables";

header{
    @include BackgroundColor($redColor);
    width: 100%;
    
    
}


ul{
    list-style-type: none;
    margin-left: 75%;
    transform: translateY(-10%);
}
 li{
    
   @include displayInline();
  
}

body{
   // text-align: center;
   // @include image($manePicture);
   background-image: url($anfield);
   //@include BackgroundColor($anfield);
    @include backgrounSettings($noRepeat, $positionCenter, $sizeCover)

} 

.infotext{
    @include displayFlex($flex);
    @include fontItalic($fontItalic);
    @include fontColor($whiteColor);
    @include justifyContentCenter($center);
    @include BackgroundColor($redColor);
   
}

.bild{
  
   @include displayFlex($flex);
   @include justifyContentSpaceAround($spaceRnd); 
}

.textOne{
    @include displayFlex($flex);
    @include justifyContentSpaceAround($spaceRnd);
    @include fontColor($blueColor);
    @include BackgroundColor($whiteColor);
}

.secondBild{
    margin-top: 5%;
    @include displayFlex($flex);
    @include justifyContentSpaceAround($spaceRnd);
    
}
.headerText{
    @include displayFlex($flex);
    @include justifyContentCenter($center);
    transform: translateY(-100px);
    
   
}

.logo{
    margin-right: 90%;
    
    
}